presentation.aux
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.synctex.gz
presentation.toc
dissertazione.aux
dissertazione.lof
dissertazione.log
dissertazione.lot
dissertazione.synctex.gz
dissertazione.toc
frontespizio.aux
frontespizio.log
frontespizio.synctex.gz
dissertazione.bbl
dissertazione.blg
bibliography.bib
.vscode/
dissertazione.out
presentation.aux.bbl
presentation.aux.blg
presentation.bbl
presentation.bcf
presentation.run.xml
presentation_short..bbl
presentation_short..blg
presentation_short.aux
presentation_short.bbl
presentation_short.bcf
presentation_short.blg
presentation_short.log
presentation_short.nav
presentation_short.out
presentation_short.run.xml
presentation_short.snm
presentation_short.synctex.gz
presentation_short.toc
presentation_very.bbl
presentation_very.blg
presentation_very_short.aux
presentation_very_short.bbl
presentation_very_short.bcf
presentation_very_short.blg
presentation_very_short.log
presentation_very_short.nav
presentation_very_short.out
presentation_very_short.run.xml
presentation_very_short.snm
presentation_very_short.synctex.gz
presentation_very_short.toc

