presentation.aux
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.synctex.gz
presentation.toc
dissertazione.aux
dissertazione.lof
dissertazione.log
dissertazione.lot
dissertazione.synctex.gz
dissertazione.toc
frontespizio.aux
frontespizio.log
frontespizio.synctex.gz
dissertazione.bbl
dissertazione.blg
bibliography.bib
.vscode/
dissertazione.out

